"# Взаємод?я з користувачем. Програма запитує десяткове число та систему числення (2, 8 або 16). Виводить пром?жн? результати процесу д?лення. Виводить к?нцевий результат конверс?ї. В?дображає к?льк?сть виклик?в функц?й та загальний час виконання." 
